*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*/////// CSS header //////*/

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 12vh;
    align-items: center;
    background-image: url(../asset/Bandeau\ 10.jpg);   
}

h1{
    grid-column: 2;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    color: rgb(255, 254, 254);
    backdrop-filter: blur(7px);
    text-shadow: 1px 1px 0 black;
}

a{
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    text-decoration: none;
    color: black;
}

/* main */

body{
    background-color: #AC947A;
}


/*////// CSS barre de recherche //////*/

.searchBar{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2% 0 4% 0;
}

.nom, .prenom, .ville{
    height: 2rem;
    width: 20rem;
    border-radius: 5px;
}

/*////// CSS GET //////*/

.fiches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3%;
}

.sup, .edit{
    display: none;
}

#description{
    white-space: pre-wrap;
}

.info{
    border: 1px black solid;
    border-radius: 25px 10px ;
    width: 350px;
    padding: 2%;
    background-color:#816b54 ;
}

.id{
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 1%;
}

.minImg{
    max-width: 150px;
    max-height: 125px;
}

.detail, .retour, .retourH{
    width: 98%;
    border-radius: 1508px;
    font-size: 0.9rem;
    font-weight: bold;
}

/*////// CSS get by ID ///////*/

.perso{
    display: flex;
    justify-content: center;
}

.infoBig{
    width: 80%;
    padding: 0 2% 2% 2%;
    border: 1px black solid;
    border-radius: 50px 5px ;
    background-color:#816b54
}

.haut{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textBig{
    /* padding: 75px 0 0 75px; */
    height: 150px;
    font-size: 1.3rem;
}


.bigImg{   
    width: 250px;
}

.bas{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 1.1rem;
}

.retour{
    margin-top: 2%;
}

.retourH{
    margin: 1% 0 2% 0;
}


/*////// css pagination ///////*/

.pgn{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
    padding: 1%;
}

.numPage{
    width: 50px;
    height: 50px;
}