* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #AC947A;
    --body: #816b54;
    --border: 1px black solid;
}

/*/////// CSS header //////*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    align-items: center;
    background-image: url(../../asset/Bandeau\ 10.jpg);
}

.title {
    font-size: 1.3rem;
    backdrop-filter: blur(8px);
    text-decoration: none;
    justify-content: center;
    color: rgb(255, 254, 254);
    grid-column: 2;
    display: flex;
    text-shadow: 1px 1px 0 black;
}


/* main */

body {
    background-color: var(--body);
}



/*////// CSS barre admin //////*/

.admin {
    background-color: rgba(0, 0, 255, 0.564);
    padding: 1% 2% 2% 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%
}

.textarea {
    grid-area: 2/3/4/4;
}

.description {
    height: 100%;
}

.uid, .name, .prename, .dateNaissance, .villeNaissance{
    border: 2px red solid;
  
}

.liens{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(0, 0, 255, 0.564);
    gap: 2%;
}

.parents, .enfants{
    padding: 1% 2% 1% 2%;
}

.lien{
    display: flex;    
}

.nu{
    width: 16%;
}

/* ////// loader //////*/
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wait {
    display: flex;
    justify-content: center;
    height: 2rem;
}

.result {
    font-size: 1.5rem;
}

/*////// CSS barre de recherche //////*/

.searchBar {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2% 0 4% 0;
}

input,
textarea {
    height: 2rem;
    width: 20rem;
    border-radius: 5px;
}

.valide,
.sup,
.edit {
    height: 2rem;
    width: 50%;
    border-radius: 1508px;
    font-size: 0.9rem;
    font-weight: bold;
    align-self: center;
}

/*////// CSS GET //////*/

.fiches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3%;
}


#description {
    white-space: pre-wrap;
}

.info {
    border: var(--border);
    border-radius: 25px 10px;
    width: 350px;
    padding: 2%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.id {
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 1%;
}

.minImg {
    max-width: 150px;
    max-height: 125px;
}

.detail,
.retour,
.retourH {
    width: 98%;
    border-radius: 1508px;
    font-size: 0.9rem;
    font-weight: bold;

}

.but {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

/*////// CSS get by ID ///////*/

.perso {
    display: flex;
    justify-content: center;
}

.infoBig {
    width: 80%;
    padding: 0 2% 2% 2%;
    border: var(--border);
    border-radius: 50px 5px;
    background-color: var(--bg);
}

.haut {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textBig {
    /* padding: 75px 0 0 75px; */
    height: 150px;
    font-size: 1.3rem;
}


.bigImg {
    width: 250px;
}

.bas {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 1.1rem;
}

.retour {
    margin-top: 2%;
}

.retourH {
    margin: 1% 0 2% 0;
}


/*////// css pagination ///////*/

.pgn {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
    padding: 1%;
}

.numPage {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #816b54;
}

.back {
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 0 black;
}