* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #AC947A;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    align-items: center;
    background-image: url(../../asset/Bandeau\ 10.jpg);
}

.title {
    font-size: 1.3rem;
    backdrop-filter: blur(8px);
    text-decoration: none;
    justify-content: center;
    color: rgb(255, 254, 254);
    grid-column: 2;
    display: flex;
    text-shadow: 1px 1px 0 black;
}

main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    gap: 5%;
    border: 1px black solid;
    border-radius: 25px 10px;
    padding: 2%;
    background-color: #816b54;
}

p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2.5%;
}

input {
    height: 25px;
    width: 250px;
}

button {
    margin-top: 3.5%;
    width: 100px;
}

footer {
    text-align: center;
}

.back {
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 0 black;
}