* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #AC947A;
    --body: #816b54;
    --border: 1px black solid;
}

a{
    color: white;
}

.a:hover{
    color: rgba(111, 24, 111, 0.761);
}

/*/////// CSS header //////*/

header {
    display: flex;
    justify-content: center;
    height: 12vh;
    align-items: center;
    background-image: url(../asset/Bandeau\ 10.jpg);
}

.title {
    font-size: 1.3rem;
    backdrop-filter: blur(8px);
    text-decoration: none;
    padding: 0 0.5% 0 0.5%;
}

.title,
footer {
    justify-content: center;
    color: rgb(255, 254, 254);
    grid-column: 2;
    display: flex;
    text-shadow: 1px 1px 0 black;
}

.cont {
    color: rgb(255, 254, 254);
    ;
}

/* main */

body {
    background-color: var(--body);
}


/*////// CSS barre de recherche //////*/

.searchBar {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2% 0 4% 0;
}

.nom,
.prenom,
.ville {
    height: 2rem;
    width: 20rem;
    border-radius: 5px;
}

.erase{
    border-radius: 5px;
    padding: 0 1% 0 1%;
}

/*////// CSS GET //////*/

.fiches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3%;
    margin-bottom: 1%;
}

.sup,
.edit {
    display: none;
}

#description {
    white-space: pre-wrap;
}

.info {
    border: var(--border);
    border-radius: 25px 10px;
    width: 350px;
    padding: 2%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.id {
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 1%;
}

.minImg {
    max-width: 150px;
    max-height: 125px;
}

.detail,
.retour,
.retourH {
    width: 98%;
    border-radius: 1508px;
    font-size: 0.9rem;
    font-weight: bold;
}

/*////// CSS get by ID ///////*/

.perso {
    display: flex;
    justify-content: center;
}

.infoBig {
    width: 80%;
    padding: 0 2% 2% 2%;
    border: var(--border);
    border-radius: 50px 5px;
    background-color: var(--bg)
}

.a:hover{
    font-weight: bolder;
    cursor: pointer;
    text-decoration: underline;
}

.haut {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textBig {
    /* padding: 75px 0 0 75px; */
    height: 150px;
    font-size: 1.3rem;
}

.bigLiens{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1.5%;
}

.bigImg {
    width: 250px;
}

.bas {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 1.1rem;
}

.retour {
    margin-top: 2%;
}

.retourH {
    margin: 1% 0 2% 0;
}


/*////// css pagination ///////*/

.pgn {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
    padding: 1%;
}

.numPage, .last, .first {
    width: 50px;
    height: 50px;
}

.last, .first {
    text-align: center;
    background-color: white;
    line-height: 100%;
}

footer {
    font-size: 1.7rem;
    margin: 2% 0 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot{
    margin-bottom: 1%;
}

.ml{
    margin-top: 2%;
}

/* /////// MEDIA QUERY //////*/

/* //////// 1120px ///////*/
@media all and (max-width: 1120px) {

    .info {
        width: 275px;
    }

    .fiches{
        margin-bottom: 2%;
    }
}

/* //////// 890px ///////*/

@media all and (max-width: 890px) {

    .retourH {
        margin-top: 3%;
    }

    .fiches {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .pgn {
        margin-top: 22%;
    }

    .foot {
        font-size: 1.3rem;
    }

}

/* //////// 790px ///////*/
@media all and (max-width: 790px) {

    .searchBar {
        flex-direction: column;
        align-items: center;
        gap: 2%;
    }

}

/* //////// 610px ///////*/

@media all and (max-width: 610px) {

    .retourH {
        margin-top: 5%;
    }

    .title {
        font-size: 1rem;
    }

    

    .fiches {
        grid-template-columns: repeat(1, 1fr);
    }

    .pgn {
        margin-top: 125%;
    }

    .foot, .gen {
        font-size: 1.3rem;
        text-align: center;
        overflow: auto;
    }

}

/* //////// 530px ///////*/
@media all and (max-width: 530px) {

    .pgn {
        margin-top: 135%;
    }

    .haut{
        display: flex;
        flex-direction: column-reverse;
    }

}

/* //////// 490px ///////*/
@media all and (max-width: 530px) {

    .pgn {
        margin-top: 145%;
    }

}

/* //////// 460px ///////*/
@media all and (max-width: 460px) {

    .pgn {
        margin-top: 155%;
    }

    .title {
        text-align: center;
    }

}

/* //////// 420px ///////*/
@media all and (max-width: 420px) {

    .pgn {
        margin-top: 165%;
    }

}

/* //////// 390px ///////*/
@media all and (max-width: 390px) {

    .pgn {
        margin-top: 175%;
    }

}